/* .navbar-brand, .nav-item {
	margin-top: 0;
	margin-bottom: 0;
} */

.navbar a:hover {
	border: 1px solid green;
	border-radius: 15%;
}

.top {
	background-color: rgb(46, 46, 46);
	margin-top: 60px;
}

.contact {
	font-size: 0.1rem;
}

#mailto {
	color: white;
}

#mailto:hover {
	text-decoration: none;
}

.far,
.fas {
	color: rgb(23, 173, 23);
}

.social_media a {
	color: rgb(206, 205, 205);
	margin: auto 10px;
}

.social_media a:hover {
	color: rgb(53, 209, 53);
}

#TFP {
	color: rgb(12, 160, 12);
	font-family: 'Times New Roman', Times, serif;
	text-decoration: none;
}

.logo {
	margin-top: 80px;
}

.telefon {
	display: inline-block;
	margin-top: 30px;
}

.menu {
	margin: 20px auto;
}

.pencil {
	color: white;
}

.jumbotron {
	background: url(../img/routes.jpg) center;
}

.title {
	text-align: center;
}

.row-footer {
	padding-top: 50px;
}

hr {
	border-bottom: 1px solid gray;
	width: 100%;
	/* color: limegreen; */
}

.footer ul {
	list-style: none;
}

/* .footer li a::before {
	content: "»";
	content: "\003e";
} */

.footer ul a {
	color: white;
}

.footer ul a i {
	color: white;
}

.footer ul a:hover {
	color: rgb(12, 160, 12);
	text-decoration: none;
}
